body {
	overflow: hidden;
	margin: 0;
	background: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	touch-action: none;
	width: 100%;
}

h1 {
	margin: 0;
	height: 10vh;
	font-size: 50px;
	text-align: center;
}

#online-players {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
}

#start-screen {
	position: absolute;
	text-align: center;
	font-size: 32px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	width: 500px;
	height: 250px;
}

#input-username[type='text'] {
	background-color: black;
	border: 5px solid white;
	color: white;
	text-align: center;
	font-size: 32px;
	width: 400px;
	padding: 10px 15px;
	border-radius: 4px;
}

#match-making {
	position: absolute;
	text-align: center;
	font-size: 32px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -275px;
	width: 550px;
	height: 250px;
}

#gameplay {
	position: relative;
	background: blue;
	height: 90vh;
	width: 100%;
}

@media (pointer: none), (pointer: coarse) {
	#gameplay {
		height: 75vh;
	}
}

#drawing-canvas {
	touch-action: none;
	border: 5px white solid;
	cursor: none;
}
